/* Sidebar */
#sidebar {
  background-color: #191970 !important;
  padding: 10px;
  color: white;
  height: 100%;
}

#sidebar .shiny-input-container label {
  color: white !important;
}

/* Tabs */
.nav-tabs > li > a {
  background-color: #191970 !important;
  color: white !important;
  border: 1px solid white !important;
}

.nav-tabs > li.active > a {
  background-color: #EEE9E9 !important;
  color: black !important;
  border: 1px solid white !important;
}

/* Contenedor del logo */
#logo_container {
  text-align: center;
  margin-bottom: 20px;
}

#logo {
  width: 160px;
}
